<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form #ref="ngForm" (ngSubmit)="addStudent(ref.value)">
                <div class="form-group">
                    <label for="">Name</label>
                    <input type="text" name="name" class="form-control" ngModel #ref1="ngModel" required>
                    <label *ngIf="ref1.invalid &&  ref1.touched">
                        <div class="text-danger">*this field is manadatory</div>
                    </label>
                </div>
                <div class="form-group">
                    <label for="">Roll no</label>
                    <input type="text" name="rollnumber" class="form-control" ngModel #ref2="ngModel" required>
                    <label *ngIf="ref2.invalid && (ref2.dirty || ref2.touched)">
                        <div class="text-danger">*this field is manadatory</div>
                    </label>
                </div>
                <div class="form-group">
                    <label for="">Gmail</label>
                    <input type="text" name="gmail" class="form-control" ngModel #ref5="ngModel" required>
                    <label *ngIf="ref2.invalid && (ref2.dirty || ref2.touched)">
                        <div class="text-danger">*this field is manadatory</div>
                    </label>
                </div>
                <div class="form-group">
                    <label for="">class</label>
                    <input type="text" name="class" class="form-control" ngModel #ref5="ngModel" required>
                    <label *ngIf="ref5.invalid && (ref5.dirty || ref5.touched)">
                        <div class="text-danger">*this field is manadatory</div>
                    </label>
                </div>
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" name="password" class="form-control" ngModel #ref4="ngModel" required
                        minlength="5">
                    <div *ngIf="ref4.invalid && (ref4.dirty || ref4.touched)">
                        <div *ngIf="ref4.errors.minlength" class="text-danger">*password must be atleast 5 characters
                            long</div>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-success">submit</button>
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>

</div>