<div class="row mt-3">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form #ref="ngForm" (ngSubmit)="sendnote(ref.value)">
            <div class="form-group">
                <label for="">Notification</label>
                <input type="text" name="notification" class="form-control" ngModel>
                <div class="text-center">
                    <button class="btn btn-success mt-3" type="submit">send</button>
                </div>
            </div>
        </form>
    </div>
</div>