<div class="container">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a href="" class="navbarbrand">
            <img src="assets/download.png" height="50%" width="25%">
        </a>
        <button data-toggle="collapse" data-target="#n" class="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="n" class="collapse navbar-collapse justify-content-end text-white">
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a routerLink="viewprofile" class="nav-link">Profile</a>
                </li>
                <li class="nav-item">
                    <a routerLink="viewmarks" class="nav-link"> Marks</a>
                </li>
                <li class="nav-item">
                    <a routerLink="viewattendance" class="nav-link"> Attendance</a>
                </li>
                <li class="nav-item">
                    <a routerLink="viewnotification" class="nav-link"> Notification</a>
                </li>
                <li class="nav-item">
                    <a routerLink="viewfee" class="nav-link"> Fee</a>
                </li>
                <li class="nav-item">
                    <a routerLink="request" class="nav-link">Request</a>
                </li>
                <li class="nav-item">
                    <a routerLink="stdlogout" class="nav-link">Logout</a>
                </li>

            </ul>
        </div>
    </nav>
    <router-outlet></router-outlet>
</div>