<div class="text-center mt-2 mb-2">
    <label for="">Search :</label>
    <input type="text" name="search" placeholder="search by rollnumber" [(ngModel)]="searchterm">
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form #ref="ngForm" (ngSubmit)="attendance(ref.value)">
                <div class="form-group">
                    <label>Student Roll No</label>
                    <input type="text" name="rollnumber" class="form-control" ngModel #ref1="ngModel" required>
                    <label *ngIf="ref1.invalid && (ref1.dirty || ref1.touched)">
                        <div class="text-danger">*this field is manadatory</div>
                    </label>
                </div>
                <div class="form-group">
                    <label>Attendance For Month</label>
                    <input type="number" name="month" class="form-control" ngModel #ref2="ngModel" required>
                    <label *ngIf="ref2.invalid && (ref2.dirty || ref2.touched)">
                        <div class="text-danger">*this field is manadatory</div>
                    </label>
                </div>
                <div class="form-group">
                    <label>Overall Attendance</label>
                    <input type="number" name="overall" class="form-control" ngModel #ref3="ngModel" required>
                    <label *ngIf="ref3.invalid && (ref3.dirty || ref3.touched)">
                        <div class="text-danger">*this field is manadatory</div>
                    </label>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </form>
            <div *ngIf="b">
                <form #ref="ngForm" (ngSubmit)="onsubmit(ref.value)">
                    <div>
                        <label>Change Rollno</label>
                        <input type="text" name="rollnumber" class="form-control" [value]="objecttomodify.rollno"
                            [(ngModel)]=objecttomodify.rollno>
                    </div>
                    <div>
                        <label>Month Attendance</label>
                        <input type="text" name="month" class="form-control" [value]="objecttomodify.month"
                            [(ngModel)]=objecttomodify.month>
                    </div>
                    <div>
                        <label>Overall Attendance</label>
                        <input type="text" name="overall" class="form-control" [value]="objecttomodify.overall"
                            [(ngModel)]=objecttomodify.overall>
                    </div>
                    <div class="text-center"><button type="submit" class="btn btn-primary mt-3">save</button></div>
                </form>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

</div>
<div class="row mt-3">
    <div class="col-sm-12">
        <table class="table table-bordered ">
            <thead>
                <th>Roll no</th>
                <th>Month attendance</th>
                <th>Overall attendance</th>
            </thead>
            <tr *ngFor="let attendance of attd | search:searchterm">
                <td>{{attendance.rollnumber}}</td>
                <td>{{attendance.month}}</td>
                <td>{{attendance.overall}}</td>
                <button (click)="deleterecord1(attendance.rollnumber)" class="btn btn-danger mr-2">Delete</button>
                <button (click)="editdata(attendance)" class="btn btn-success">edit</button>
            </tr>

        </table>
    </div>
</div>