<table class="table table-bordered">
    <thead>
        <th>Roll Number</th>
        <th>subject</th>
        <th>Marks</th>
        <th>Total Marks</th>
    </thead>
    <tr *ngFor="let obj of marks">
        <td>{{obj.rollnumber}}</td>
        <td>{{obj.subject}}</td>
        <td>{{obj.marks}}</td>
        <td>{{obj.totalmarks}}</td>
    </tr>
</table>