<div class="text-center mt-2 mb-2">
    <label for="">Search :</label>
    <input type="text" name="search" placeholder="search by rollnumber" [(ngModel)]="searchterm">
</div>
<div class="container ">
    <form #ref="ngForm" (ngSubmit)="markson(ref.value)">
        <div class="form-group">
            <label for="">Roll Number:</label>
            <input type="text" name="rollnumber" class="form-control" ngModel #ref1="ngModel" required>
            <label *ngIf="ref1.invalid && (ref1.dirty || ref1.touched)">
                <div class="text-danger">*this field is manadatory</div>
            </label>
        </div>
        <div class="form-group">
            <label for="">Subject</label>
            <input type="text" name="subject" class="form-control" ngModel #ref2="ngModel" required>
            <label *ngIf="ref2.invalid && (ref2.dirty || ref2.touched)">
                <div class="text-danger">*this field is manadatory</div>
            </label>
        </div>
        <div class="form-group">
            <label for="">Marks Acquired</label>
            <input type="number" name="marks" class="form-control" ngModel #ref3="ngModel" required>
            <label *ngIf="ref3.invalid && (ref3.dirty || ref3.touched)">
                <div class="text-danger">*this field is manadatory</div>
            </label>
        </div>
        <div class="form-group">
            <label for="">Total Marks</label>
            <input type="number" name="totalmarks" class="form-control" ngModel #ref4="ngModel" required>
            <label *ngIf="ref4.invalid && (ref4.dirty || ref4.touched)">
                <div class="text-danger">*this field is manadatory</div>
            </label>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-success">submit</button>
        </div>
    </form>
    <div *ngIf="b1">
        <form #ref="ngForm" (ngSubmit)="onsubmit1(ref.value)">
            <div>
                <label>Change Rollno</label>
                <input type="text" name="rollnumber" class="form-control" [value]="objecttomodify1.rollno"
                    [(ngModel)]=objecttomodify1.rollnumber>
            </div>
            <div>
                <label>Subject</label>
                <input type="text" name="subject" class="form-control" [value]="objecttomodify1.subject"
                    [(ngModel)]=objecttomodify1.subject>
            </div>
            <div>
                <label>Marks</label>
                <input type="text" name="marks" class="form-control" [value]="objecttomodify1.marks"
                    [(ngModel)]=objecttomodify1.marks>
            </div>
            <div>
                <label>Total Marks</label>
                <input type="text" name="totalmarks" class="form-control" [value]="objecttomodify1.totalmarks"
                    [(ngModel)]=objecttomodify1.totalmarks>
            </div>
            <div class="text-center"><button type="submit" class="btn btn-primary mt-3">save</button></div>
        </form>
    </div>
</div>

<div class="table table-bordered mt-4">
    <table class="table table-bordered ">
        <thead>
            <th>Roll Number</th>
            <th>subject</th>
            <th>Marks</th>
            <th>Total Marks</th>
        </thead>
        <tr *ngFor="let std of marks | search:searchterm">
            <td>{{std.rollnumber}}</td>
            <td>{{std.subject}}</td>
            <td>{{std.marks}}</td>
            <td>{{std.totalmarks}}</td>
            <button (click)="deleterecord(std.rollnumber)" class="btn btn-danger mr-2">Delete</button>
            <button (click)="editdata1(std)" class="btn btn-success">Edit</button>
        </tr>
    </table>
</div>