<table class="table table-bordered">
    <thead>
        <th>Roll Number</th>
        <th>Total Fee</th>
        <th>Fee paid</th>
        <th>Fee Due</th>
    </thead>
    <tr *ngFor="let afee of fees">
        <td>{{afee.rollnumber}}</td>
        <td>{{afee.totalfee}}</td>
        <td>{{afee.feepaid}}</td>
        <td>{{afee.feedue}}</td>
    </tr>
</table>