<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="text-center">
            <table>
                <thead>
                    <th>
                        <div class="blink text-center"><span>Notification</span></div>
                    </th>
                </thead>
                <tr *ngFor="let std of notify">
                    <td>{{std.notification}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>