<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="text-center">
                <h2 class="mt-5">LOGIN</h2>
            </div>
            <form #ref="ngForm" (ngSubmit)="sendTo(ref.value)">
                <div class="form-group">
                    <label for="">User Id</label>
                    <input type="text" name="rollnumber" class="form-control" ngModel #ref1="ngModel" required>
                    <label *ngIf="ref1.invalid && (ref1.dirty || ref1.touched)">
                        <div class="text-danger">*this field is manadatory</div>
                    </label>
                </div>
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" name="password" class="form-control" ngModel #ref2="ngModel" required
                        minlength="5">
                    <div *ngIf="ref2.invalid && (ref2.dirty || ref2.touched)">
                        <div *ngIf="ref2.errors.minlength" class="text-danger">*password must be atleast 5 characters
                            long</div>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-info">Login</button>
                </div>
                <div class="text-center">
                    <a routerLink="/main/resetpassword">Forgot password?</a>
                </div>
                <label *ngIf="ref3.invalid && (ref3.dirty || ref3.untouched)">
                    <div class="text-danger">*this field is manadatory</div>
                </label>
                <div class="form-check">
                    <label for="f" class="form-check-label">
                        <input type="radio" name="user" id="f" value="admin" class="form-check-input" ngModel
                            #ref3="ngModel" required>
                        Admin
                    </label>
                </div>
                <div class="form-check">
                    <label for="m" class="form-check-label">
                        <input type="radio" name="user" id="m" value="student" class="form-check-input" ngModel
                            #ref3="ngModel" required>
                        Student
                    </label>
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>

</div>