<table class="table table-bordered">
    <thead>
        <th>Roll number</th>
        <th>Month attendace</th>
        <th>Overall attendace</th>
    </thead>
    <tr *ngFor="let att of attend">
        <td>{{att.rollnumber}}</td>
        <td>{{att.month}}</td>
        <td>{{att.overall}}</td>
    </tr>
</table>