<div class="row">
    <div class="col-sm-12">
        <ul *ngFor="let value of data">
            <li><b>Rollnumber:</b>{{value.rollnumber}}</li>
            <pre style="display:flex"><li class="nav-link">{{value.letter}}</li></pre>
            <div class="row">
                <div class="col-md-4">
                    <li class="nav-link"><b>from</b>: {{value.from}}</li>
                </div>
                <div class="col-md-4">
                    <li class="nav-link"><b>to</b>: {{value.to}}</li>
                </div>
                <div class="col-md-4">
                    <li class="nav-link"><b>totaldays</b>: {{value.totaldays}}</li>
                </div>
            </div>
            <div class="text-center"><button class="btn btn-primary mr-2"
                    (click)="accept(value.rollnumber)">accept</button>
                <button class="btn btn-danger mr-2" (click)="reject()">reject</button>
            </div>
            <div *ngIf="c">
                <form #ref="ngForm" (ngSubmit)="response((ref.value),(value.rollnumber))">
                    <label for="">Reason for rejection</label>
                    <input type="text" name="reason" id="" ngModel>
                    <div>
                        <button type="submit" class="btn btn-success"> Submit</button>
                    </div>
                </form>
            </div>
        </ul>
    </div>
</div>