<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <form #ref="ngForm" (ngSubmit)="submitotp(ref.value)">
                <div class="form-group">
                    <label for="">Enter OTP</label>
                    <input type="number" name="OTP" class="form-control" ngModel>
                </div>

                <div class="text-center">
                    <button class="btn btn-success" type="submit">Submit</button>
                </div>
            </form>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>