<div class="text-center mt-2 mb-2">
    <label for="">Search :</label>
    <input type="text" name="search" placeholder="search by rollnumber" [(ngModel)]="searchterm">
</div>
<div class="container ">
    <form #ref="ngForm" (ngSubmit)="fee(ref.value)">
        <div class="form-group">
            <label for="">Roll Number:</label>
            <input type="text" name="rollnumber" class="form-control" ngModel #ref1="ngModel" required>
            <label *ngIf="ref1.invalid && (ref1.dirty || ref1.touched)">
                <div class="text-danger">*this field is manadatory</div>
            </label>
        </div>
        <div class="form-group">
            <label for="">Total Fee</label>
            <input type="number" name="totalfee" class="form-control" ngModel #ref2="ngModel" required>
            <label *ngIf="ref2.invalid && (ref2.dirty || ref2.touched)">
                <div class="text-danger">*this field is manadatory</div>
            </label>
        </div>
        <div class="form-group">
            <label for="">Fee paid</label>
            <input type="number" name="feepaid" class="form-control" ngModel #ref3="ngModel" required>
            <label *ngIf="ref3.invalid && (ref3.dirty || ref3.touched)">
                <div class="text-danger">*this field is manadatory</div>
            </label>
        </div>
        <div class="form-group">
            <label for="">Fee Due</label>
            <input type="number" name="feedue" class="form-control" ngModel #ref4="ngModel" required>
            <label *ngIf="ref4.invalid && (ref4.dirty || ref4.touched)">
                <div class="text-danger">*this field is manadatory</div>
            </label>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-success">submit</button>
        </div>
    </form>
    <div *ngIf="c">
        <form #ref="ngForm" (ngSubmit)="onsubmit2(ref.value)">
            <div>
                <label>Change Rollno</label>
                <input type="text" name="rollnumber" class="form-control" [(ngModel)]=objecttomodify2.rollnumber>
            </div>
            <div>
                <label>Total Fee</label>
                <input type="number" name="totalfee" class="form-control" [(ngModel)]=objecttomodify2.totalfee>
            </div>
            <div>
                <label>Fee paid</label>
                <input type="number" name="feepaid" class="form-control" [(ngModel)]=objecttomodify2.feepaid>
            </div>
            <div>
                <label>Fee Due</label>
                <input type="number" name="feedue" class="form-control" [(ngModel)]=objecttomodify2.feedue>
            </div>
            <div class="text-center"><button type="submit" class="btn btn-primary mt-3">save</button></div>
        </form>
    </div>


    <div class="col-md-3"></div>
</div>


<div class="table-bordered  mt-4">
    <table class="table table-bordered">
        <thead>
            <th>Roll Number</th>
            <th>Total Fee</th>
            <th>Fee paid</th>
            <th>Fee Due</th>
        </thead>
        <tr *ngFor="let afee of fees | search:searchterm">
            <td>{{afee.rollnumber}}</td>
            <td>{{afee.totalfee}}</td>
            <td>{{afee.feepaid}}</td>
            <td>{{afee.feedue}}</td>
            <button (click)="deleterecord2(afee.rollnumber)" class="btn btn-danger mr-2">Delete</button>
            <button (click)="editdata2(afee)" class="btn btn-success">edit</button>
        </tr>
    </table>
</div>