<h1 class="text-center " style="color: rgb(255, 21, 0) ">STUDENT PROFILE</h1>
<table class="table table-bordered mt-4" style="width:100%" *ngFor="let obj of prof">

    <tr>
        <th>Name</th>
        <td>{{obj.name}}</td>
    </tr>
    <tr>
        <th>Roll no</th>
        <td>{{obj.rollnumber}}</td>
    </tr>
    <tr>
        <th>Class</th>
        <td>{{obj.class}}</td>
    </tr>

</table>