<p class="mt-4">Second Campus Learning Solutions is founded by a group of Software Architects from reputed MNCs. Each
  member of our team has been involved in Tech Industry for more than 15 years. List of MNCs we have been part of,
  include IBM, INFOSYS, CAPGEMINI, Cognizant, United Health Group, SISL, SIEMENS, Apollo Health Street, CARE ,IDEA
  OBJECT, TELSTRA , CA Technologies , Motorola, MACH , Lycos and Hewlett-Packard. We have mentored by the team from IISC
  , IIT , and software companies CTOâ€™s .
</p>
<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">

    <div class="carousel-item active">
      <img
        src="http://www.rubycampus.com/wp-content/uploads/2017/01/Benefits-in-Integrating-Study-material-repository-and-Library-Management-System-in-school-management-Software-1-1024x673.jpg"
        width="1200px" height="500px" width="100%">
    </div>
    <div class="carousel-item">
      <img src="https://image.freepik.com/free-photo/smiling-students-with-backpacks_1098-1220.jpg" width="1200px"
        height="500px" width="100%">
    </div>
    <div class="carousel-item">
      <img src="https://www.w3webschool.com/blog/wp-content/uploads/2017/07/web-design-training.png" width="1200px"
        height="500px" width="100%">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>
<div class="container mt-4">
  <p>Idea Behind Residential Training is
    Our research into job aspirants among various cities points to data that the average time spent training by a
    candidate is less than two hours per day, it also points to a general pattern where a candidate idles away hours,
    months and in a few instances years. We at Second Campus Learning Solutions believe that with our carefully designed
    curriculum, training structures in addition to our guidance and comfortable environment at our campus will help a
    candidate achieve their full potential and get placed in three month period. The concept of living and training
    under one roof was designed to manage students efficiently by steering them away from trivial activities and
    channelizing a candidate’s time and energy towards gaining employment.

    Second Campus is a training institue in Hyderabad and offers classroom courses in the areas of Mean Stack
    Programming to students looking to build their Programing Knowledge.

    Second Campus Learning Solutions is a fully residential Training Campus for IT job aspirants founded by a group of
    Software Architects from reputed MNCs. Each member of our team has been involved in Tech Industry for more than 15
    years. List of MNCs we have been part of, include; IBM, INFOSYS, CAPGEMINI, Cognizant, United Health Group, SISL,
    SIEMENS, Apollo Health Street, CARE ,IDEA OBJECT, TELSTRA , CA Technologies , Motorola, MACH , Lycos and
    Hewlett-Packard.

  </p>
</div>