<div class="container">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a href="" class="navbarbrand">
            <img src="assets/download.png" height="50%" width="25%">
        </a>
        <button data-toggle="collapse" data-target="#n" class="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="n" class="collapse navbar-collapse justify-content-end text-white">
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a routerLink="studentprofile" class="nav-link">Student profile</a>
                </li>
                <li class="nav-item">
                    <a routerLink="addstudent" class="nav-link">Add Student</a>
                </li>
                <li class="nav-item">
                    <a routerLink="updatemarks" class="nav-link">Update Marks</a>
                </li>
                <li class="nav-item">
                    <a routerLink="updateattendance" class="nav-link">Update Attendance</a>
                </li>
                <li class="nav-item">
                    <a routerLink="updatenotification" class="nav-link">Update Notification</a>
                </li>
                <li class="nav-item">
                    <a routerLink="updatefee" class="nav-link">Update Fee</a>
                </li>
                <li class="nav-item">
                    <a routerLink="receivedrequest" class="nav-link">Received request</a>
                </li>
                <li class="nav-item">
                    <a routerLink="logout" class="nav-link">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <router-outlet></router-outlet>
</div>