<div class="text-center mt-2 mb-2">
    <label for="">Search :</label>
    <input type="text" name="search" placeholder="search by rollnumber" [(ngModel)]="searchterm">
</div>
<table class="table table-bordered">
    <thead>
        <th>Name</th>
        <th>Roll no</th>
        <th>Class</th>
    </thead>
    <tr *ngFor="let obj of prof | search:searchterm">
        <td>{{obj.name}}</td>
        <td>{{obj.rollnumber}}</td>
        <td>{{obj.class}}</td>

        <button (click)="deleterecord3(obj.rollnumber)" class="btn btn-danger ml-2">Delete</button>
    </tr>
</table>